.dt_rooms .price .price_value, .dt-single-room .title h4 a:hover, .dt_rooms .title h4 a:hover, .dt-sc-counter.type1 .icon-wrapper span { color: #00b9ff; }
.dt-sc-image-caption.type3:hover .dt-sc-image-wrapper .icon-wrapper:after { background-color:#00b9ff;  }

.dt-sc-title.with-two-border h2 strong { color: #5820bc; }

header{
   padding: 15px 0px; 
}